.title{
    text-align: center;
    font-size: 300%;
    background-color: bisque;
}
p{
    font-size: 150%;
}
.background {
    background-color: cornsilk;
}
.image{
    text-align: center;
    width: auto;
    background-color: bisque;

}